* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background: whitesmoke;
}


.container {
    margin: 20px;
}

.searchbar {
    margin: 30px 10px 100px 10px;
}

.searchbar h2 {
    margin: 30px 15px;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}

.searchmain {
    display: flex;
    justify-content: center;
    background: #0f0f0a10;
    padding: 10px;
    border-radius: 50px;
}

.search {
    height: 50px;
    width: 230px;
    padding: 20px;
    border-radius: 50px;
    font-size: 20px;
    border: none;
    /*box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);*/
}

.search h2 {
    user-select: none;
    cursor: default;
}

.search:hover {
    outline: none;
    border: none;
}

.search::placeholder {
   font-size: 18px;
   padding-left: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.searchbar-setting {
  font-size: 25px;
}

.searchbar-header {
  width: calc(100% - 10px);
  text-align: right;
  padding: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.searchbar-header img, .searchbar-header li {
  margin-left: 20px;
}

.searchbar-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

.search-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    outline: 1px solid black;
    padding: 10px;
    margin-left: 10px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar-darkmode-icon {
  font-size: 20px;
  color: orange;
}

.search-icon:hover {
    outline: 4px solid lightblue;
    outline-offset: 3px;
}

.news-container {
    padding: 20px 0 20px 0;
    text-align: center;
    margin: 10px;
}

.news {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 20px 0 20px 0;
}

.news-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 200px;
}

.news-title {
    padding: 10px;
    background: white;
    border-radius: 0 0 10px 10px;
    height: 80px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.news-link {
    text-decoration: none;
    color: gray;
}

.discover-container {
    display: flex;
    width: 100%;
}

.setting {
    list-style: none;
    width: 50%;
    text-align: right;
    margin-right: 20px;
    font-size: 15px;
    transition: 1s display;
}

.discover {
    margin-left: 20px;
    width: 50%;
    text-align: left;
    font-size: 15px;
}

.counter {
    padding: 10px;
    text-align: center;
}

.dropmenu h4 {
    padding: 10px;
    background: black;
    color: white;
    font-weight: lighter;
    text-align: left;
}

.dropmenu {
    margin: 5px;
    display: none;    
    position: absolute;
    border-radius: 10px;
    background: black;
    padding: 10px;
}

.button-info-arrow {
    float: right;
    font-size: 20px;
    animation: button-info-arrow 2.5s infinite;
    margin: 5px 10px 5px 10px;
    color: cyan;
    list-style: none;
    font-size: 30px;
}

.button-info {
    right: 5px;
    position: fixed;
    margin: 20px;
    border-radius: 10px;
    display: none;
    background: rgba(0,0,0,0.8);
    align-items: center;
}

.button-info p {
    width: 80px;
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
}

.button-info-x {
    margin-right: 20px;
    list-style: none;
    font-size: 30px;
    background-color: red;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}


/* keyframes */
@keyframes button-info-arrow {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

/* media queries for responsiveness */
@media screen and (min-width: 480px) {
    .news-collect {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .search {
        width: 25rem;
    }
}


/* bottom sheets */

.profile-bottomsheet, .settings-bottomsheet {
  position: fixed;
  width: 100%;
  bottom: -100%;
  left: 0px;
  height: 100%;
}

.profile-bottomsheet-useless, .settings-bottomsheet-useless {
  height: 30%;
  padding: 30px;
}

.profile-bottomsheet-important, .settings-bottomsheet-important {
  border-radius: 20px 20px 0px 0px;
  height: 70%;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 30%, rgba(255, 255, 256, 0.7) 70%);
  backdrop-filter: blur(8px);
  padding: 15px 10px 10px 10px;
}

/* profile bottomsheet */
.profile-bottomsheet-header {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: right;
}

.profile-bottomsheet-header li {
  padding: 10px;
  background: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-bottomsheet-important {
  text-align: center;
}

.profile-bottomsheet-profile-pic {
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.profile-bottomsheet-name {
  margin: 20px 10px 10px 10px;
}


/* settings bottomsheet */

.settings-bottomsheet-header-title {
  margin: 15px 15px 30px 10px;
  color: whitesmoke;
  opacity: 0.8;
}

.toggle-news-visibility {
  margin: 10px;
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
}

.toggle-news-visibility-switch {
  font-size: 40px;
}

.toggle-news-visibility-text {
  color: whitesmoke;
}

/* applies when class inserted in elements  */
.switch-green {
  color: lightgreen;
}

.switch-normal {
  
}

/* tt menu */
.tt-menu {
  margin-top: 20px;
  margin-left: 0px;
  background: lightblue;
  width: 270px;
  height: 60px;
  overflow: scroll;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.tt-suggestion {
  padding: 5px 0px;
}

.tt-suggestion::after {
  content: "⬈";
  float: right;
}