* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --width: calc(100% - var(--news-link-margin)*2);
  --news-link-margin: 0px 20px;
  --news-img-height: 15rem;
}

body {
  background: #F8F7FF;
}

.searchbar-container {
  text-align: center;
  padding: 40px 25px 20px 25px;
}

.searchbar-title {
  margin: 60px 0px 20px 0px;
  font-family: "Playwrite PE", cursive;
  font-style: normal;
}

.searchbar {
  padding: 12px 25px;
  background: #FFEEDD;
  border-radius: 50px;
  margin: auto;
  display: flex;
  align-items: center;
}

.searchbar-input {
  width: calc(100vw - 175px);
  height: 25px;
  border: none;
  background: transparent;
  font-size: 18px;
}

.searchbar-input:focus {
  border: none;
  outline: none;
}

.searchbar-microphone, .searchbar-image-search {
  padding: 10px 12px;
  font-size: 20px;
  height: 25px;
  width: 25px;
  border-radius: 100px;
}

/*.searchbar-microphone:active, .searchbar-image-search:active {
  background: #F8F7FF;
}*/

.recent-links-container {
  background: white;
  margin: auto;
  margin-top: 10px;
  border-radius: 20px;
  display: none;
  align-items: center;
}

.discover {
  margin: auto;
  margin-top: 30px;
  padding: 20px 0px;
}

.discover-title {
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 16px;
  font-family: "Abel", sans-serif;
}

/* news */

.news-container {
  margin-bottom: 20px;
}

.news-collect {
  display: grid;
  row-gap: 40px;
}

.news-link {
  text-decoration: none;
  color: black;
  background: #fff8f2;
  border-radius: 20px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
  width: var(--width);
  margin: var(--news-link-margin);
}

.news-img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: var(--news-img-height);
  object-fit: cover;
  object-position: top;
}

.news-title {
  border-radius: 0px 0px 20px 20px;
  text-align: center;
  width: 100% - 40px;
  padding: 40px 20px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1E1E1E;
  }

  .black-text, .news-title {
    color: ghostwhite;
  }

  .white-text {
    color: black;
  }

  .searchbar, .news-link {
    background: #2b2b2b;
  }

}

/* Responsive Styles */
@media screen and (min-width: 770px) {
  .searchbar-container {
    padding: 100px 0px;
  }

  .searchbar {
    width: 50%;
  }

  .news-collect {
    grid-template-columns: 33% 33% 33%;
  }

  .news-container {
    padding: 20px;
  }

  .discover-title {
    padding: 0px 20px;
    font-size: 25px;
  }
}
